<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Agregar Registro</title>
</head>
<body>
    <h1>Agregar Registro</h1>

    <!-- Formulario para agregar registros -->
    <form action="/agregar" method="post">
        <!-- Campos del formulario -->
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="email">Correo:</label>
        <input type="email" id="email" name="email" required><br>

        <!-- Agrega más campos según tu base de datos -->

        <button type="submit">Agregar Registro</button>
    </form>

    <a href="/listar">Volver a la lista</a> <!-- Enlaza de vuelta a la lista de registros -->

</body>
</html>
