<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Confirmar Borrado</title>
</head>
<body>
    <h1>¿Desea borrar este registro?</h1>
    <p>Detalles del registro a borrar:</p>
    <ul>
        <li>ID: <%= registro.id %></li>
        <li>Nombre: <%= registro.nombre %></li>
        <li>Mail: <%= registro.email %></li>
        <!-- Agrega más campos según tu base de datos -->
    </ul>
    
    <form action="/borrar/<%= registro.id %>" method="post">
        <button type="submit">Sí, borrar</button>
    </form>
    
    <a href="/personas">Cancelar</a> <!-- Enlaza para cancelar el borrado y volver a la lista de registros -->
</body>
</html>
