<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Lista de Registros</title>
</head>
<body>
    <h1>Lista de Registros</h1>

    <ul>
        <% registros.forEach(registro => { %>
            <li>
                <!-- Mostrar los datos del registro -->                
                Nombre: <%= registro.nombre %> - 
                Mail: <%= registro.email %>
                
            </li>
        <% }); %>
    </ul>

    <a href="/agregar">Agregar Registro</a> <!-- Enlaza a la página de agregar registros -->
    <a href="/buscar">Buscar Registros</a> <!-- Enlaza a la página de búsqueda -->

</body>
</html>
