<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Modificar Registro</title>
</head>
<body>
    <h1>Modificar Registro</h1>

    <!-- Formulario para modificar registros -->
    <form action="/modificar/<%= registro.id %>" method="post">
        <!-- Campos del formulario -->
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="<%= registro.nombre %>" required><br>

        <label for="email">Correo:</label>
        <input type="email" id="email" name="email" value="<%= registro.email %>" required><br>

        <!-- Agrega más campos según tu base de datos -->

        <!-- Agrega más campos según tu base de datos -->

        <button type="submit">Guardar Cambios</button>
    </form>

    <a href="/personas">Volver a la lista</a> <!-- Enlaza de vuelta a la lista de registros -->

</body>
</html>
