<!DOCTYPE html>
<html>
<head>
  <title>Personas</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Resultados de la búsqueda</h1>
  <ul>
    <% people.forEach(person=> { %>
      <li><%= person.nombre %></li>
    <% }); %>
  </ul>
  <a href="/agregar">Add Person/a>
</body>
</html>
